/* nev-menu container */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1283px !important;
    }
}


/* xl 1024 */
@media (max-width:1024px) {

    .banner_wrapper .carousel-slider1 {
        width: 420px;
        margin-top: 80px;

    }

    .banner_wrapper .custom-slider1 img {
        height: 300px;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }


    /* card */

    .banner_wrapper .banner-card {
        width: 42%;
    }


    /* owl carsoule left right icon */
    .owl-prev,
    .owl-next {
        top: 170px;
    }



}






/* large */
@media (max-width:991px) {

    /* heading tag h1,h2... */

    h1 {
        font-size: 45px;
    }

    /* navbar */
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-white);
        padding: 5px 80px 0px 80px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-bottom: 15px;
    }


    /* Banner Section */
    .banner_wrapper {
        padding: 300px 0px 200px 0px;

    }

    /* card */
    .banner_wrapper .banner-card {
        top: 200px;

    }




}





/* medium */

@media (max-width:768px) {

    /* heading tag h1,h2... */
    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 36px;

    }

    /* Banner Section */
    /* .banner_wrapper .img-bk-std {
        display: none;
    } */



    /* slider1 */

    .banner_wrapper .carousel-slider1 {
        width: 350px;
        margin-top: -20px;
        width: 100%;
        object-fit: contain;
    }

    .banner_wrapper .custom-slider1 img {
        height: 350px;
        width: 100%;
        object-fit: contain;
    }







    /* Achievements Section */

    .achievements-section {
        margin-top: 150px;
        width: 100%;
    }


    .achievements-section .ac-sc {
        background-color: var(--bg-light-gray);
        padding: 100px 100px 100px 100px;
    }



    /* owl carsoule left right icon */

    .fa-caret-left,
    .fa-caret-right {
        height: 50px;
        width: 50px;
        font-size: 34px;
    }

    .owl-prev,
    .owl-next {
        top: 170px;
    }

    .owl-prev {
        left: -70px;
    }

    .owl-next {
        right: -70px;
    }

}











@media (max-width:767px) {

    /* Banner Section */
    .banner_wrapper {
        padding: 300px 0;
    }

    /* card */
    .banner_wrapper .banner-card {
        top: 180px;
        margin-right: 10%;

    }

}









@media (max-width:425px) {

    h1 {
        font-size: 30px;
        line-height: 60px;
        padding-top: 25px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 20px;
    }

    /* Banner Section */
    .banner_wrapper {
        width: 100%;
    }



    /* slider1 */

    .banner_wrapper .carousel-slider1 {
        width: 100%;
        margin-top: 45px;
        object-fit: cover;
    }




    /* card */
    .banner_wrapper .banner-card {
        position: absolute;
        top: 180px;
        width: 90%;
    }




    /* about section button*/
    .achievements-section .cards-achev-algin {
        margin-bottom: 40px;
        width: 100%;
    }



    /* Achievements Section- */

    .achievements-section {
        margin-top: 150px;
        width: 100%;
    }

    .achievements-section .ac-sc {
        padding: 60px 50px 50px;
    }


    .owl-dots {
        bottom: -10px;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


 /* owl carsoule left right icon */

 .fa-caret-left,
 .fa-caret-right {
     height: 40px;
     width: 40px;
     font-size: 28px;
 }

 .owl-prev {
     left: -40px;
 }

 .owl-next {
     right: -40px;
 }


}






@media (max-width:426px) {
    .banner_wrapper .banner-card {
        position: absolute;
        top: 180px;
        width: 90%;
    }

}