<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cares Goa Gov</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../images/logo_CARES_Favicon.png">
    <!-- <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.css"> -->


    <!-- bootstrap cdn link css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!--cdn icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <!-- custom css/js -->
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/responsive-style.css">


</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="75">



    <!--Products Section-->

    <div id="products-developed">
        <div class="row">
            <div class="col-md-6 mb-4">
                <ul class="ul-font">
                    <li><a href="/Resources/Products/curriculum-model.html" target="_self" rel="noopener noreferrer">Curriculum Model</a></li>
                    <li><a href="/Resources/Products/competition-model.html" target="_self" rel="noopener noreferrer">Competition Model</a></li>
                    <li><a href="/Resources/Products/teacher-training-model.html" target="_self" rel="noopener noreferrer">Teacher Training Model</a>
                    </li>
                    <li><a href="/Resources/Products/prerna-ems.html" target="_self" rel="noopener noreferrer">PRERNA EMS</a></li>
                    <li><a href="/Resources/Products/robotic-kit.html" target="_self" rel="noopener noreferrer">Robotic Hardware Kit</a></li>
                    <li><a href="/Resources/Products/robo-tark.html" target="_self" rel="noopener noreferrer">Robo-TARK</a></li>
                    <li><a href="/Resources/Products/nirmaan-cnc.html" target="_self" rel="noopener noreferrer">Nirmaan CNC</a></li>
                    <li><a href="/Resources/Products/cares-chatbot.html" target="_self" rel="noopener noreferrer">Shikha-MITR ChatBot</a></li>
                    <li><a href="/Resources/Products/govin-ide.html" target="_self" rel="noopener noreferrer">GOVIN IDE</a></li>
                    <li><a href="/Resources/Products/rachiti.html" target="_self" rel="noopener noreferrer">RACHITI</a></li>
                    <li><a href="/Resources/Products/gyan-gatika.html" target="_self" rel="noopener noreferrer">Gyan Gatika</a></li>
                    <li><a href="/Resources/Products/prashan-nidhi.html" target="_self" rel="noopener noreferrer">Prashan Nidhi</a></li>
                    <li><a href="/Resources/Products/bahubhashi.html" target="_self" rel="noopener noreferrer">BahuBhashi</a></li>
                    <li><a href="/Resources/Products/garuda-drone.html" target="_self" rel="noopener noreferrer">Garuda Drone</a></li>
                    <li><a href="/Resources/Products/ai-ml-extension.html" target="_self" rel="noopener noreferrer">AI / ML Extension</a></li>
                </ul>

            </div>
        </div>
    </div>



    <!-- <div style="margin-bottom:2000px;"></div>
 -->




    <!-- Scroll Button -->
    <!-- <div class="scroll-button">
        <a href="#home" class="fas fa-arrow-up"></a>
    </div> -->





    <!-- bootstrap link js bundle and popper js -->
    <!-- <script src="bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script> -->


    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>



    <!-- cdn JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


    <!-- custom js -->
    <script src="../JS/main.js"></script>


</body>

</html>